/* CSS Reset */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* This allows to change the color or anythin after it is selected for Ex. to COPY */
::selection{ 
    background-color: grey;
    color: white;
}


hr{
    border: 2px solid black;
}

/* Logo */

#logo img{
    height: 75px;
}

/* Navigation Bar */

#navbar{   /*To fix the position of Navigation Bar */
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    height: 75px;
    width: 100%;
}
#navigation_bar{
    display: flex;
    background-color: black;
    height: 75px;
}
#navigation_bar ul{
    display: flex;
    margin: 15px;
    font-size: 1.3rem;
}
#navigation_bar ul li{
    list-style: none;
    margin: 0px 5px 0px 5px;
    padding: 10px;
}
#navigation_bar ul li a{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: white;
}
#navigation_bar ul li a:hover{
    background-color: burlywood;
    color:black;
    border-radius: 5px;
}

/* Message logo */

.message img{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.message img:hover{
    transform: scale(1.05);
}
/* Search Bar */

#search-box{
    margin-left: auto;
}
#search-box input{
    border: 2px solid burlywood;
    margin: 15px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Utility Classes */

.h-primary{
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
}
.h-secondary{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(235, 133, 0);
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.para{
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    margin: 5px;
}

/* Section-1 */

.section{
    margin: 50px 100px 55px 150px;
    /* border: 2px solid green; */
}
#sec-1 h1{
    margin: 25px;
}
#sec-1 p{
    margin: 25px 0px 25px 0px;
    text-align: justify;
}

/* Section-2 */

.box{
    border: 2px solid red;
    margin: 10px;
}
.box:hover{
    box-shadow: 4px 2px 10px 2px ;
    transform: scale(1.01);
}
.div{
    display: flex;
    width: 400px;
    height: 400px;
}
#sec-2 img{
    height: 150px;
    margin-left: 35px;
}
#sec-3 img{
    height: 150px;
    margin-left: 35px;
}
.paragraph{
    width: 350px;
    height: 350px;
}
